@model ByteBank.ForumNaviteFramework.Models.ViewModels.ContaLoginViewModel
@using Microsoft.Owin.Security

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>


@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.EditorForModel()


        <br />
        <input type="submit" value="Login" class="btn btn-primary btn-block" />
        <br />

        <a class="modal-footer">@Html.ActionLink("Esqueci minha senha", "EsqueciSenha")</a>

    </div>
}



@using (Html.BeginForm("LoginPorAutenticacaoExterna", "Conta"))
{
    var providersAutenticacao = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    if (providersAutenticacao != null && providersAutenticacao.Any())
    {
        <hr />
        <div class="btn-group">
            @foreach (var item in providersAutenticacao)
            {
                <button class="btn btn-primary" type="submit" value="@item.AuthenticationType" name="provider">
                    @item.Caption
                </button>
            }
        </div>
    }
}
