@model ByteBank.ForumNaviteFramework.Models.ViewModels.ContaMinhaContaViewModel

@{
    /**/

    ViewBag.Title = "MinhaConta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Minha conta</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.ValidationSummary()

        @Html.LabelFor(modelo => modelo.NomeCompleto);
        <br />
        @Html.EditorFor(modelo => modelo.NomeCompleto)
        <br />

        @Html.LabelFor(modelo => modelo.NumeroDeCelular);
        <br />
        @Html.EditorFor(modelo => modelo.NumeroDeCelular)
        <br />


        @Html.LabelFor(modelo => modelo.HabilitarAutenticacaoDeDoisFatores);
        <br />
        @*<br />*@

        <p>
            @Html.EditorFor(modelo => modelo.HabilitarAutenticacaoDeDoisFatores)
            * Informe e confirme seu número de celular para habilitar
            a autenticação com 2 fatores!
        </p>
        <br />

        @Html.ActionLink("Clique aqui para verificar o token recebido!", "VerificacaoCodigoCelular")
        <hr />
        <input type="submit" value="Salvar" class="btn btn-success" />
        <br />
    </div>
}
